@import "tailwindcss";

body {
  background: linear-gradient(to bottom right, #350973, #6411D9, #F28705);
  min-height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background: linear-gradient(to right, transparent, transparent);
  color: white;

}